[Unit]
Description=gandi-dyndns hourly

[Timer]
Unit=gandi-dyndns.service
OnCalendar=hourly

# Persistent=true causes the timer to start once immediately if it missed the 
# last start time, for example due to the system being powered off.
Persistent=true

# Timers sharing start events can cause poor system performance if the timers'
# services compete for system resources. The RandomizedDelaySec option avoids 
# this problem by randomly staggering the start time of each timer.
# Because AccuracySec defaults to 1m (collates within that range), this should
# be many minutes.
# Ref: http://man7.org/linux/man-pages/man5/systemd.timer.5.html
# And: http://man7.org/linux/man-pages/man7/systemd.time.7.html
RandomizedDelaySec=5m
 
[Install]
WantedBy=timers.target

