# Goals
#   1. Run this service periodically (timer)
#   2. Do not run the IP update if a VPN is in use
[Unit]
Description=Gandi.Net Dynamic DNS Updater

[Service]
Type=oneshot
# This will fail to run the script if you are currently on a VPN
ExecStartPre=/bin/sh -c '/usr/bin/nmcli --get-values type connection show --active | [ $(grep -c ^vpn) -eq 0 ]'
ExecStart=%h/.local/bin/gandi-dyndns.sh

[Install]
WantedBy=multi-user.target
